<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ADsPro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1>ADsPro</h1>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('userguide') }}">User Manual</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="home" class="hero">
        <div class="container">
            <h2>Start analyzing audio prominence with ADsPro!</h2>
            <p>ADsPro is a tool that helps you analyze audio files to identify prominent words or segments.</p>
            <p>Upload an audio file (.wav) and a TextGrid (.TextGrid) file with text annotations.</p>
            <p>Just Click on a text overlay to select a specific segment of the audio.</p>
            <p>Click the "Check" button to analyze the selected segment.</p>
            <p>Upload your audio files and start analyzing now!</p>
                <a href="{{ url_for('adspro') }}" class="btn">Get Started</a>
        </div>
    </section>
</body>
</html>
